<div class="header">
  <ul class="skills left">        
    <li>
      <%= link_to 'alex mason', root_path %>
    </li>
  </ul>
  <ul class="skills right">
    <li>
      <%= link_to 'projects', projects_path %>
    </li>
    <li>
      <%= link_to 'skills', designs_path %>
    </li>
    <li>
      <%= link_to 'about me', interests_path %>
    </li>
    <li>
      <%= link_to 'addendum', interests_path %>
    </li>
  </ul>
</div>