<div class="header font-primary color-primary">
  <ul class="skills left">        
    <li>
      <%= link_to 'ALEX MASON', root_path %>
    </li>
  </ul>
  <ul class="skills right">
    <li>
      <%= link_to 'WORK', projects_path %>
    </li>
    <li>
      <%= link_to 'SKILLS', skills_path %>
    </li>
    <li>
      <%= link_to 'ABOUT ME', interests_path %>
    </li>
<!--     <li>
      <%= link_to 'ADDENDUM', interests_path %>
    </li> -->
  </ul>
</div>